*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.container{
    margin: 0px;
    height: 100vh;
    width: 100vw;
    padding: 3px 5px 5px 3px;
    background-color: black;
}

.welcome{
    width: 210px;
}
.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.content{
    min-height: 87vh;
    width: 100%;
    margin-top: 3px;
    padding: 5px;
    border-radius: 10px;
    background-image: url('../assets/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.training{
    display: flex;
    justify-content: center;
    font-size: 25px;
    padding-bottom: 16px;
    color: bisque;
}
.programs {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
}
.goals{
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    background-image: url('../assets/goals.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: bisque;
    cursor: pointer;
}
.list{
    height: 200px;
    width: 18%;
    padding-left: 32px;
    font-size: 23px;
    /* background-color: aqua; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgba(255, 228, 196, 0.744);
}
li{
    cursor: pointer;
    color: bisque;
}
.input{
    height: 200px;
    width: 45%;
    background-color: rgb(48, 50, 57);
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.exercisename{
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: bisque;
}
.exerciseList{
    padding-left: 27px;
}
.exerciseList li{
    width: 250px;
}
.cross{
    position: absolute;
    right: 90px;
    cursor: pointer;
    transition: opacity 0.5s ease-in-out;
}
.goalItem{
    display: flex;
}